main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 400px;
    margin: 2rem;
}

label {
   margin: 1rem;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
}

.description {
    display: flex;
    flex-direction: column;
    width: 100px;
    color: rgb(130, 0, 244);
    font-weight: 700;
    margin-top: 1rem;
    flex-grow: 2;
    flex-shrink: 0;
}

 input{
    margin-top: 1rem;
    flex-shrink: 0;
    flex-grow: 0;
 }

 .empty{
    width: 116px;
    flex-shrink: 1;
}



.error_form {
    transition: ease 1s;
    color: brown;
    margin-top: 1rem;
    font-weight: 600;
}

.all_buttons{
 margin-top: 1rem;   
}





