

<main>
    <!-- <div *ngIf="isLoading">
        <app-loading-spinner></app-loading-spinner>
    </div> -->
    <form #authForm="ngForm" (ngSubmit)="onFormSubmit(authForm)">
        <div class="container">
            <div class="description">
              <label >Email</label>
              <label>Password</label>
            </div>
            <div class="inputs">
                <div>
                    <input type="email" ngModel name="email" required email #email="ngModel">
                    <div *ngIf="email.touched && !email.valid">
                        <div class="error_form">Enter email</div>
                    </div>
                </div>
                <div>
                    <input type="password" ngModel name="password" required minlength="6" #password="ngModel">
                    <div *ngIf="password.touched && !password.valid">
                        <div class="error_form">Enter password</div>
                        <!-- <div>{{getPassworErrors(password)}}</div> -->
                    </div>
                </div>
                <div class="error" *ngIf="error">
                    {{error}}
                </div>
                <div>
                    <button (click)="onFormSubmit(authForm)" [disabled]="authForm.invalid">{{isLoginMode ? "Login" :
                        "SignUp"}}</button>
                    <button (click)="onSwitchMode()">Go to {{isLoginMode ? "SignUp" : "Login"}}</button>
                </div>
            </div>
            <div class="empty"></div>
        </div>
        
    </form>
</main>