header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.done_task {
    color: #93d6f1;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(165, 11, 210, 1) 45%, rgba(92, 130, 215, 0.9473039215686274) 100%);
    width: 350px;
    border-radius: 1rem;
    font-family: 'Vina Sans', cursive;

}

.empty_in_header {
    width: 4.5rem;
}


.container {
    display: flex;
    flex-direction: row;
    margin: .5rem;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    font-size: 1.5rem;
    margin: .5rem;
    flex-shrink: 0;
    background-color: rgb(230, 230, 230);
    box-shadow: 5px 5px 8px 0px rgba(66, 68, 90, 1);
    border-radius: .5rem;
    padding: .2rem .3rem;
}

.title {
    border-radius: .5rem;
    padding: .5rem;
    flex-grow: 1;
    font-size: 1.2rem;
    background-color: rgb(230, 230, 230);
    box-shadow: 5px 5px 8px 0px rgba(66, 68, 90, 1);
    margin: .5rem;
}

.go_back {
    margin-left: 1rem;
    margin-top: 1rem;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.empty {
    width: 4rem;
    flex-shrink: 1;
}

.content {
    flex-shrink: 1;
    width: 80%;
}

@media (max-width: 600px) {
    .content {
        width: 97%;
    }

    .done_task {
        font-size: 1.6rem;
        width: 180px;
    }

}