.container{
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: .5rem;
    
}

.number{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    flex-grow: 0;
    flex-shrink: 1;
}

.title{
    flex-grow: 1;
    border: 5px solid rgb(130, 0, 244);
    border-radius: .5rem;
    padding: .5rem;

}