<main>
    <div class="content">
       <header>
        <button class="go_back" routerLink="/home">Back</button>
        <div class="done_task">DONE TASK</div>
        <div class="empty_in_header"></div>
       </header>
        <div *ngFor="let task of  doneTasks; let indexOfelement = index">
            <div class="container">
                <div class="number">{{indexOfelement +1}}</div>
                <div class="title">{{task.title}}</div>
            </div>
        </div>
    </div>
</main>