.wrapper {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    width: 98%;
    background: #a20bd0;
    background: linear-gradient(90deg, rgba(165, 11, 210, 1) 45%, rgba(92, 130, 215, 0.9473039215686274) 100%);
    border-radius: 1rem;
    margin-top: 0.5rem;
}

.logo {
    color: rgb(149, 215, 241);
    font-size: 3rem;
    margin: .5rem;
    text-transform: lowercase;
    font-family: 'Vina Sans', cursive;
}

@media (max-width: 760px) {
    .logo {
        font-size: 1.5rem;
    }
}