/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');

$color_A1 :#8f78e0;
$color_A2 :#b38bbbf1 ;
$color_A3 :#a20bd0;
$color_A4 :#6b0ada;
$color_B1 :#000000;
$color_B1 :#000000;
$color_button_font :#bee5f4;

* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background: linear-gradient(90deg, $color_A1 45%, $color_A2 100%);
    background-repeat: repeat-y;
    
}


button {
    height: 2rem;
    background-color: $color_A3;
    border: none;
    border-radius: .5rem;
    margin: .2rem;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
    color: rgb(190, 229, 244);
    box-shadow: 5px 5px 8px 0px $color_A3;
    transition: box-shadow .15s, transform .15s;
    touch-action: manipulation;
    cursor: pointer;

    &:hover{
    opacity: .9;
    background-color: $color_A4;
    transition: ease .2s;
    transform: translateY(2px);
    }
}

.disabled_button{
    opacity: .4;
    pointer-events: none;
}


input {
    height: 2.7rem;
    border-radius: .5rem;
    font-size: 1.2rem;
    background-color: rgb(230, 230, 230);
    box-shadow: 5px 5px 8px 0px rgba(66, 68, 90, 1);
    border: none;
    touch-action: manipulation;
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
    user-select: none;
}

li {
    list-style-type: decimal;
}


@media (max-width: 600px) {
    button {
        font-size: .8rem;
        margin: .2rem;
    }
    input{
        width: 200px;
    }
}

