/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

button {
    height: 2rem;
    background-color: #a50bd2;
    border: none;
    border-radius: .5rem;
    margin: .2rem;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
    color: rgb(190, 229, 244);
} 

button:hover {
    opacity: .9;
    background-color: #5c82d7;
    transition: ease .2s;
}

input {
    height: 2.7rem;
    border-radius: .5rem;
    font-size: 1.2rem;
    background-color: rgb(230, 230, 230);
    box-shadow: 5px 5px 8px 0px rgba(66, 68, 90, 1);
    border: none;
}

li{
    list-style-type:decimal;
}

