nav {
    display: flex;
    justify-content: flex-end;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form .empty {
    width: 116px;
}
/* 
form textarea {
    border-radius: .5rem;
    padding: .5rem;
    flex-grow: 1;
    font-size: 1.2rem;
    background-color: rgb(230, 230, 230);
    box-shadow: 5px 5px 8px 0px rgba(66, 68, 90, 1);
    margin: .5rem;
} */

input {
    height: 5rem;
}


form button {
    width: 100px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-items: flex-start;

}



.itemOfList {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    border-radius: .5rem;
    width: 99%;
    /* margin: 15px; */

}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    flex-grow: 0;
   margin: .5rem;

}

.number {
    background-color: rgb(230, 230, 230);
    padding: 0.2rem;
    border-radius: .5rem;
    font-weight: 10;
    box-shadow: 5px 5px 8px 0px rgba(66, 68, 90, 1);
    width: 40px;
    
}



.title {
    border-radius: .5rem;
    padding: .5rem;
    flex-grow: 1;
    font-size: 1.2rem;
    background-color: rgb(230, 230, 230);
    box-shadow: 5px 5px 8px 0px rgba(66, 68, 90, 1);
    margin: .5rem;
}

.all_buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

svg {
    height: 2.5rem;
    background-color: rgb(130, 0, 244);
    padding: 0.5rem;
    border: none;
    border-radius: .5rem;
    margin: .5rem;
    font-size: 1.3rem;
}

svg:hover {
    opacity: .9;
    background-color: rgb(175, 0, 244);
}

.add_button{
    height: 50px;
    margin: 1rem;
}